<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
      <%= link_to image_tag("instagram_logo.png.jpg", alt: "Instagram Logo", class: "navbar-logo"), root_path %>
    <a class="navbar-brand" href="/">Niks-Instagram</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "New Post", new_pic_path, class: "nav-link no-underline" %>
        </li> 
      </ul>
      <form class="d-flex">
        <% if user_signed_in? %>
          <div class="user-info d-flex align-items-center">
            <p class="mb-0 mr-3 text-white">Signed in as @<%= current_user.email %></p>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-danger", data: { turbo_method: :delete } %>
          </div>
        <% else %>
              <%= link_to "Log In", new_user_session_path, class: "btn btn-primary btn-sm btn-margin-right" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-sm btn-margin-left " %>
        <% end %>
      </form>
    </div>
  </div>
</nav>
